@using Survey.Client.Contract

@inject NavigationManager NavigationManager

<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Dark"
     ThemeContrast="ThemeContrast.Dark">
    <BarBrand>
        Brandname
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="">Hjem</BarLink>
            </BarItem>
            @if (IsLoggedIn)
            {
                <BarItem>
                    <BarLink To="surveys">Undersøkelser</BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="answer">Ta undersøkelse</BarLink>
                </BarItem>

                if (IsAdmin)
                {
                    <BarItem>
                        <BarLink To="results">Resultat</BarLink>
                    </BarItem>
                }
            }
        </BarStart>
        <BarEnd>
            <BarItem>
                @if (IsLoggedIn)
                {
                    <Button Color="Color.Secondary" Clicked="@LogOut">Logg ut</Button>
                }
                else
                {
                    <Button Color="Color.Primary" Clicked="@LogIn">Logg inn</Button>
                }
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

@code {
    
    [Parameter] public bool IsLoggedIn { get; set; }
    [Parameter] public bool IsAdmin { get; set; }

    private async Task LogOut()
    {
        StateHasChanged();
        NavigationManager.NavigateTo("/account/logout");        
    }

    private void LogIn()
    {
        StateHasChanged();
        NavigationManager.NavigateTo("/account/login");        
    }

}
