@using Survey.Shared.Models

@if (Model != null)
{
    <EditForm Model="@Model" OnSubmit="@FormSubmitted">        
        <Fields Class="clearfix">
            <Field ColumnSize="ColumnSize.IsAuto">
                <FieldLabel Class="required">Beskrivelse:</FieldLabel>
                <TextEdit @bind-Text="Model.Text" Placeholder="Beskrivelse" />
            </Field>
            <Field ColumnSize="ColumnSize.IsAuto">
                <FieldLabel Class="required">Riktig:</FieldLabel>                
                <Switch TValue="bool" @bind-Checked="Model.IsCorrect">Riktig</Switch>
            </Field>
           
            <Field ColumnSize="ColumnSize.IsAuto" Class="align-bottom">
                <br />
                @*<Button Color="Color.Success" Type="ButtonType.Submit" Disabled="@(!context.Validate())" Class="align-bottom">@localizer["Save"]</Button>*@
                <Button Color="Color.Success" Type="ButtonType.Submit" Class="align-bottom">Legg til</Button>
            </Field>
            @*<Field ColumnSize="ColumnSize.IsAuto" Class="align-bottom">
                <br />
                <Button Type="ButtonType.Button" Color="Color.Light" Clicked="OnCancel">Avbryt</Button>
            </Field>*@
        </Fields>
        <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
    </EditForm>
}

@code {
    
    [Parameter] public AlternativeDto Model { get; set; }
    [Parameter] public EventCallback<AlternativeDto> OnSave { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }

    private async Task FormSubmitted(EditContext context)
    {
        if (context.Validate())
        {
            await OnSave.InvokeAsync(Model);
        }
    }

    private async Task Save(EditContext context)
    {
        await OnSave.InvokeAsync(Model);
    }

    private async Task Cancel()
    {
        await OnCancel.InvokeAsync();
    }


}
